footer{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 52px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.footer p{
    color:  #333;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 22px;
    text-decoration-line: underline;
    
}
.footer h3{
    color: #333;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 225% */
    text-transform: uppercase;
    
}
.footer a{
    color: #333;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 15px;
    /* 225% */
    
}
.foot{
    width: 100%;
    height: auto;
    background-color: black;
}
.foot p{
    color:  #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 257.143% */
    
}
@media screen and (max-width:900px) {
    .footer{
        flex-wrap: wrap;
    }
}