.main h1{
    max-width: 550px;
    color: $secondary-color;
    font-family: "Manrope";
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* 126.316% */
    text-transform: uppercase;
    
}
.main p{
    color: $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 22px;
}
.konsultatsiya{
    display: flex;
    justify-content: space-between;
    flex: 50%;
}
.konsultatsiya-left{
    width: 50%;
}
.regitratsiya{
    width: 100%;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    

}
#name{
    width: 270px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    border: none;
    padding: 20px;
    

    
}
#name::placeholder{
    color: $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    
}
#tel{
    width: 270px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    border: none;
    padding: 20px;
    margin-left: 30px;
    

    
}
#tel::placeholder{
    color: $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    
}
#textarea{
    width: 570px;
    height: 141px;
    flex-shrink: 0;
    border-radius: 7px;
    background:  #FFF;
    /* Тень */
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    border: none;
}
#textarea::placeholder{
    color:  $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding: 16px 20px;
    
}
.checkbox{
    display: flex;
    align-items: center;
    padding-top: 20px;

}
.checkbox p{
    margin-top: -20px;
    margin-left: 12px;
}
.chek{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFF;
    border: none;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.btn{
    border: none;
    cursor: pointer;
}
.konsultatsiya-right img{
    width: 100%;
}
@media screen and(max-width:1250px) {
    .konsultatsiya{
        flex-wrap: wrap;
    }
    #tel{
        margin: 0;
        margin-top: 20px;
    }
    #textarea{
        width: 400px;
    }
}
.jobs {
    max-width: 100%;
    flex: 50%;
    
}
.jobs h1{
    padding-top: 110px;
    padding-bottom: 40px;
}
.nash-raboti{
    display: flex;
    justify-content: space-between;
    
}
.center{
    width: 105%;
    height: 161px;
    flex-shrink: 0;
    background: #F3F1FE;
    padding-bottom: 25px;
    
}
.nash-raboti p{
    max-width: 410px;
    color:  $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;
    
}
.nash-raboti-left{
    background-color: #FFF;
    padding: 50px 50px 50px 50px;
        border-radius: 10px;
}
.nash-raboti-right{
    background-color: #FFF;
    padding: 50px 50px 50px 50px;
        border-radius: 10px;
}
.rezultat{
    display: flex;
    gap: 10px;
}
.rezultat h3{
max-width: 180px;
    color: $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 600;
}
.rezultat p{
    max-width: 180px;
    color:  $secondary-color;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.rezultat span{
    width: 80px;
    color:  $secondary-color;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.nash-raboti h2{
    padding-top: 21px;
}.center__img{
    margin-top: 50px;
}
main{
    padding-bottom: 90px;
}
.images{
    display:flex ;
    padding-top: 13px;
}
@media screen and (max-width:1150px) {
    .nash-raboti{
        flex-wrap: wrap;
        gap: 20px;
    }
    .rezultat {
        flex-wrap: wrap;
    }
    .center {
        height: auto;
    }
    
}